--exclude Carthage
--disable unusedArguments,trailingCommas,andOperator,sortedImports, wrapMultilineStatementBraces
--self init-only
--patternlet inline
--ranges no-space
--extensionacl on-declarations
